// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$my-gray: #ECECEC;


.red {
  background-color: #DD0031;
}

.green {
  background-color: #1DA362;
}

.blue-gray {
  background-color:#8DA7BE;
}

.dark-blue {
  background-color: #2C365E
}

.orange {
  background-color: #FFA339
}

.yellow{
  background-color: #FDCC43
}
