// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$my-gray: #ECECEC;


.red {
  background-color: #C6001C;
}

.dark-green {
  background-color: #2A4832;
}

.green {
  background-color: #148B50;
}

.blue-gray {
  background-color:#8DA7BE;
}

.dark-blue-gray {
  background-color:#383F51;
}

.dark-gray{
background-color: #274156
}

.dark-blue {
  background-color: #2C365E
}


.dark-orange{
  background-color:#E07D3A
}

.orange {
  background-color: #FFA339
}

.yellow{
  background-color: #FDCC43
}

.blue {
  background-color: #002790
}

.dark-taupe {
 background-color: #494845
}

.dark-purple{
  background-color:#320A28
}

.beige{
  background-color:#EEDCC5;
}


