
.city-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-show-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.city-admin {
  margin-left: 25px
}

.header {
  display: flex;
  justify-content: space-around;
}

.city-board {
  // display:grid;
  // grid-template-columns: 400px 1fr;
  // grid-template-rows: 50% 50%;
  border: solid 3px;
  border-radius: 3px;
}

.rubrique-show{
  // grid-row: 1 / span 1;
  // grid-column: 1 / span 1;
  line-height: 0.828571;
  background-color: white;
  // border: 2px solid black;
}

.rub-container{
  padding:20px;
}

.rub-title {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  // background-color: #133859;
  color: white;
  margin-left:24px;
  margin-right:24px;
}

.rub-p {
  padding: 11px;
  margin-left:24px;
  margin-right:24px;

}

#map{
  width: 100%;
  height: 700px;
  // grid-row: 1 / span 1;
  // grid-column: 2 / span 2;
}

.photo-city {
  display: flex;
  justify-content: space-around;
}

.city-button {
  text-align: center;
}

