.header-show-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.city-admin {
  margin-left: 25px
}

.header {
  display: flex;
  justify-content: space-around;
}

.city-board {
  display:grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50% 50%;
  border: solid 3px;
  border-radius: 3px;
}

.rubrique-show{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  line-height: 0.828571;
  background-color: #E6ECE2;
  border-right: 2px solid black;
}

.rub-title {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  background-color: #133859;
  color: white;
}

.rub-p {
  padding: 11px;
}

#map{
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.photo-city {
  display: flex;
  justify-content: space-around;
}

.city-button {
  text-align: center;
}

