// Specific CSS for your home-page

.button-add-questionnaire{
  color: white;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page_title {
    /* width: 855px; */
    /* height: 72px; */
    font-size: 59px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 11px;
}

.home-header{
  margin-bottom: 30px;
}

.encart-ville {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

// .city-name {
//   background-color: #DD0031;
//   color: white;
//   text-align: center;
//   border-radius: 50px 50px 50px 50px;
// }

.city-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encart-deputy {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

// .deputy-tab-title {
//   background-color: #2C365E;
//   color: white;
//   text-align: center;
//   border-radius: 50px 50px 50px 50px;
// }

.encart-prog-complet {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

.tab-title {
  color: white;
  text-align: center;
  border-radius: 15px 64px 15px 64px;;
  font-size:35px;
}

.dep-name-photo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-top: 11px;
  background-color: #FAFAFA;
  box-shadow: 9px 6px 7px grey;
}

.questionnaires {
  display: flex;
  justify-content: space-between;
}

.home-sub-title {
  font-size:30px;
  margin-left: 20px;
}

.home-sub-sub-title {
  font-size:20px;
  margin-left: 20px;
}

.remove-font-size{
  font-size: 37px;
}


.link{
  font-size: 30px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.badge {
  font-size: 30px;
  background-color: #8DA7BE ;
  color: white;
  width: 95px;
  height: 36px;
}

.question-number{
  font-size: 21px;
};


.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
