// Specific CSS for your home-page

.button-add-questionnaire{
  color: white;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page_title {
    /* width: 855px; */
    /* height: 72px; */
    font-size: 59px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 11px;
}

.home-header{
  margin-bottom: 30px;
}

.encart-ville {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

// .city-name {
//   background-color: #DD0031;
//   color: white;
//   text-align: center;
//   border-radius: 50px 50px 50px 50px;
// }

.city-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encart-deputy {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

// .deputy-tab-title {
//   background-color: #2C365E;
//   color: white;
//   text-align: center;
//   border-radius: 50px 50px 50px 50px;
// }

.encart-prog-complet {
  // width: 460px;
  margin: 40px 0px 40px 0px;
}

.tab-title {
  color: white;
  text-align: center;
  border-radius: 15px 64px 15px 64px;;
  font-size:35px;
}

.dep-name-photo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.questionnaires {
  display: flex;
  justify-content: space-between;
}

.home-sub-title {
  font-size:30px;
}

.remove-font-size{
  font-size: 37px;
}


.link{
  font-size: 30px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.badge {
  font-size: 30px;
  background-color: #8DA7BE ;
  color: white;
  width: 95px;
  height: 36px;
}
