.show-program {
  display: block;
}

.border-answer{
  border: 3px solid;
  border-radius: 4px;
}

.answer-program {
  padding: 20px;
}

.user-prog {
  text-align: left;
  width: 90%
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.answer {
  font-size: 28px;
}

#question {
 font-size: 28px;
 }

.encart-final {
  width: 80%;
  border: 1px solid gray;
  margin : 45px;
}

.sub-encart-final {
  padding: 25px;
}

.user-prog-dep {
  margin-top: 70px;
}
