.program-title {
  width: 855px;
  height: 72px;
  font-size: 48px;
  color: #F2F2F2;
  text-align: center;
  background-color: #8DA7BE;
  padding:5px;
  border-radius: 0px 50px 50px 0px;
}


.encart-program {
  width: 860px;
  margin: 80px 0px 40px 0px;
}

.cat-title {
  background-color: #12355B;
  color: white;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  margin: 30px 0px 30px 0px;
}

.dep-details {
  display: flex;
  justify-content: space-around;
}
