// .qq {
//   display: flex;
//   justify-content: space-between;
//   // align-items: center;
// }

.header-button{
  display:flex;
  // justify-content: space-around;
}

.tab-question {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.tab-answer {
  margin-left: 10px;
  margin-top: 22px;
  border: 1px solid gray;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tab-program {
  margin-left: 10px;
  margin-top: 22px;
}

.tab-next-question {
  margin-left: 10px;
  margin-top: 22px;
}

.delete-q {
float: right;
}

.first-q {
  font-size: 25px;
  font-weight: bold;
}

.tab-add-answer{
  margin-top:47px;
}
