.btn-add{
  text-align: center;
  padding: 20px;
  background-color: #D10000;
  color:white;
  font-weight: bold;
  border-radius: 0px 50px 50px 0px;
}

.btn-show{
  margin-right: 0px;
  text-align: center;
  padding: 20px;
  background-color: #D10000;
  color:white;
  font-weight: bold;
  border-radius: 50px 0px 0px 50px;
}

.btn-restart{
  margin-right: 0px;
  text-align: center;
  padding: 20px;
  color:white;
  font-weight: bold;
  border-radius: 4px;
}

.btn-red{
  background-color: #D10000;
}

.btn-orange{
  background-color:orange;
}
