.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: gray;
  background-position: center;
  color: white;
  position: relative;
  margin: 40px 80px 40px 80px;
}
.card-user {
  position: absolute;
  left: 10px;
  top: 50px;
  width: 40px;
  border-radius: 50%;
}

.card-description {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.deputy_photo {
  position: absolute;
  height: 273px;
  width: 279px;
  left: 20px;
  bottom: 20px;
  border-radius: 156px;
}

.modify{
  position: absolute
}

.modify {
 position: absolute;
 bottom: 5px;
 right:105px;
}

.delete {
 position: absolute;
 bottom: 5px;
 right:5px;
}


.title {
  margin-left: 10px;
};
