.fa-arrow-left {
  font-size: 30px;
}

.fa-plus-circle {
  color: #3F4D91;
  font-size: 36px;
  margin-left: 20px;
}

.fa-remove {
 color: #C6001C;
}

.fa-edit {
 color: #3F4D91
}

.fa-arrow-circle-right{
  font-size: 20px;
}

.fa-trash{
  font-size: 25px;
  color: white;
}

.fa-trash hover{
 opacity: 0.5;
}

.fa-check-circle {
  color: green;
  font-size: 41px;
}

.fa-play-circle {
  color: #C6001C;
  font-size: 42px;
}

.fa-hourglass-start {
  color: orange;
  font-size: 35px;
}

.fa-chevron-left {
  font-size: 61px;
  margin-right: 15px;
  margin-top: 381px;
};
