.fa-arrow-left {
  font-size: 30px;
}

.fa-plus-circle {
  color: #3F4D91;
  font-size: 36px;
  margin-left: 20px;
}

.fa-remove {
 color: #C72845
}

.fa-edit {
 color: #3F4D91
}

.fa-arrow-circle-right{
  font-size: 20px;
}

.fa-trash{
  font-size: 25px;
  color: white;
}

.fa-trash hover{
 opacity: 0.5;
}
