.deputy-photo {
  height: 183px;
  width: 192px;
  left: 19px;
  top: 89px;
  border-radius: 156px;
}

.deputy-photo-home {
 height: 40px;
  width: 40px;
  border-radius: 156px;
}

.city-photo-show {
  height: 300px;
  width: 400px;
  border-radius:5px;
}

.home-city-photo{
 height: 179px;
  width: 246px;
  border-radius:5px
}


